﻿/*
* lenke for å finne rgb, hsl etc
*  http://colorizer.org/
*  lenke for å gi fargen navn
*  http://chir.ag/projects/name-that-color/#6195ED
*/

/*Font colors*/
$font-color-header: #283679;
$font-color-header2: hsl(134, 75%, 25%);
$font-color-article: hsl(238, 50%, 33%);

/*Button Colors*/
$button-color-important: hsl(50, 100%, 50%);
$button-color-accept: hsl(102, 100%, 50%);
$button-color-danger: hsl(0, 100%, 50%);
