﻿@charset "UTF-8";
/*
* lenke for å finne rgb, hsl etc
*  http://colorizer.org/
*  lenke for å gi fargen navn
*  http://chir.ag/projects/name-that-color/#6195ED
*/
h1 {
  color: #283679;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
